html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
    --color-primary-dark: #060A0F;
    --color-primary: #0C151D;
    --color-primary-bright: #17293B;
    --color-grey-dark: #373E43;
    --color-grey: #7B848E;
    --color-grey-bright: #C3C7CC;
    --color-white: #FFFFFF;
    --color-highlight: #50A5E2;
    --color-contrast: #F0AD05;
    --color-contrast-warning: #9C0000;
}
  
/* ------------------------- Typography ------------------------- */

body {
    margin: 0;
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    color: var(--color-grey-bright);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--color-primary);
}
  
h1,
h2,
h3,
h4 {
    color: var(--color-white);
    font-weight: normal;
}

a {
    text-decoration: none;
}