html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
    --color-primary-dark: #060A0F;
    --color-primary: #111F2C;
    --color-primary-bright: #223D58;
    --color-primary-light: #2A4865;
    --color-grey-dark: #292929;
    --color-grey: #707070;
    --color-grey-bright: #B8B8B8;
    --color-shadow: rgb(112 112 112 / 60%);
    --color-white: #FFFFFF;
    --color-highlight: #50A5E2;
    --color-highlight-hover: #1D72AF;
    --color-contrast: #F0AD05;
    --color-contrast-hover: #B48204;
    --color-warning: #F50000;
    --color-warning-hover: #8F0000;
}
  
/* ------------------------- Typography ------------------------- */

body {
    margin: 0;
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    color: var(--color-grey-bright);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--color-primary);
}
  
h1,
h2,
h3,
h4 {
    color: var(--color-white);
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* ------------------------- Animations ------------------------- */

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}